@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;500;600;700&family=Barlow+Condensed:wght@400;500;600;700;800&display=swap');

:root {
  --red: #d42b1f;
  --red2: #ff4437;
  --red3:#ff07077d;
  --red-dark: #a81f16;
  --ink: #141414;
  --charcoal: #232323;
  --grey: #8a8a8a;
  --grey-light: #e9e7e4;
  --paper: #f7f6f4;
  --white: #ffffff;

  --font-display: "Barlow Condensed", sans-serif;
  --font-body: "Barlow", sans-serif;

  --space-1: 8px;
  --space-2: 16px;
  --space-3: 24px;
  --space-4: 32px;
  --space-6: 48px;
  --space-8: 64px;
  --space-12: 96px;

  --container: 1160px;
}

* { margin: 0; padding: 0; box-sizing: border-box; }

html { scroll-behavior: smooth; }

body {
  font-family: var(--font-body);
  color: var(--ink);
  background: var(--paper);
  line-height: 1.6;
  font-size: 17px;
}